* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
}

.art1 {
    position: absolute;
    top: 0;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preloaderLogo {
    width: 350px;
    height: auto;
    display: flex;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.07,.79,.93,.22);
    animation-duration: 2.5s;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.15);
    }
}

body {
    overflow: hidden;
}

.loaded{
    overflow: visible;
}

.loaded .preloader {
    transition: 0.5s opacity;
    opacity: 0;
    display: none;
}

.preloaderText {
    margin-top: 5%;
    font: normal small-caps 6.7em "Franklin Gothic Medium", serif;
}

#checkboxMenu {
    opacity: 0;
}
.buttonMenu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.buttonMenu > span,
.buttonMenu > span::before,
.buttonMenu > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.buttonMenu > span::before {
    content: '';
    top: -8px;
}
.buttonMenu > span::after {
    content: '';
    top: 8px;
}

.containerMenu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menuLi {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menuLi:hover {
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#checkboxMenu:checked ~ .hamburger-menu > .buttonMenu > span {
    transform: rotate(45deg);
}
#checkboxMenu:checked ~ .hamburger-menu > .buttonMenu > span::before {
    top: 0;
    transform: rotate(0);
}
#checkboxMenu:checked ~ .hamburger-menu > .buttonMenu > span::after {
    top: 0;
    transform: rotate(90deg);
}
#checkboxMenu:checked ~ .hamburger-menu > .containerMenu {
    visibility: visible;
    left: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#checkboxMenu:checked ~ main {
    animation: pageShrink ease-in-out forwards 0.5s;
}

main {
    animation: pageUnShrink ease-in-out forwards 0.5s;
}

#checkboxMenu:checked ~ main > .art1 {
    animation:pageShiftX ease-in-out forwards 0.5s;
}

.art1 {
    animation: pageUnShiftX ease-in-out forwards 0.5s;
}

#checkboxMenu:checked ~ main > .art1 > #header > #headerLogo {
    animation: rotate 0.75s;
}

#headerLogo {
    animation: rotateAfter 0.75s;
}

#checkboxMenu:checked ~ main > .art1 > #header > #skoda_name {
    margin-right: 20%;
    transition-duration: 0.5s;
}

#checkboxMenu:checked ~ main > .art1 > .imgBlock > .on_image_model {
    font-size: 5.4vw;
    transition-duration: 0.5s;
}

.on_image_model {
    font-size: 6.75vw;
    transition-duration: 0.5s;
}

#skoda_name {
    margin-right: 0;
    transition-duration: 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateAfter {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes pageShrink {
    0% {
        width: 100%;
    }

    100% {
        width: 80%;
    }
}

@keyframes pageUnShrink {
    0% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

@keyframes pageShiftX {
    0% {
        left: 0%;
    }
    100% {
        left: 20%;
    }
}

@keyframes pageUnShiftX {
    0% {
        left: 20%;
    }
    100% {
        left: 0%;
    }
}

.buttonMenu > span,
.buttonMenu > span::before,
.buttonMenu > span::after {
    transition-duration: .5s;
}
.containerMenu {
    transition-duration: .5s;
}
.menuLi {
    transition-duration: .5s;
}

@keyframes shrink {
    0% {
        background-color: white;
    }
    100% {
        background-color: green;
    }
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    z-index: 4;
    box-shadow: 0 0 10px black;
}

#headerMenu {
    z-index: 8;
}
.buttonMenu {
    z-index: 10;
}

.containerMenu {
    z-index: 7;
}

.menuLi {
    z-index: 7;
}

.hamburger-menu {
    display: flex;
    width: 50px;
    flex: 0 50px;
}

#headerLogo {
    max-height: 50px;
    display: flex;
    flex: 0 50px;
    margin-left: 7%;

}

#skoda_name {
    display: flex;
    font: normal small-caps 40px "Franklin Gothic Medium", serif;
    flex: 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 0.25%;
}

#oct1 {
    margin-top: 53px;
    width: 100%;
}

#div1 {
    height: 1000px;
}

.on_image_model {
    position: absolute;
    color: white;
    margin-top: 56%;
    margin-left: 67%;
}

.imgBlock {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.imgBlock p {
    font: normal small-caps 6.75vw "Franklin Gothic Medium", serif;
    color: white;
    position: absolute;
    bottom: 8%;
    right: 5%;
    white-space: nowrap;
}

.snaky_animation {
    width: 33%;
    height: 100%;
    bottom: 0px;
    right: 4.4%;
    position: absolute;

}

.snaky_animation_line {
    width: 100%;
    height: 6px;
    background-color: green;
    bottom: 8%;
    position: absolute;
    animation-name: snake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    display: block;
    content: "";
}

@keyframes snake {
    0% {
        background-color: white;
    }
    50% {
        background-color: green;
    }
    100% {
        background-color: white;
    }
}

.pictureBlock {
    position: relative;
}

.bySideText {
    position: absolute;
    top: 0;
    right: 15%;
    width: 200px;
}

.bySideSpan {
    font: normal small-caps 1.4em "Franklin Gothic Medium", serif;
}
.bySideP {
    font: normal small-caps 1.1em "Franklin Gothic Book", serif;
}

@media(min-width: 1200px) {

    .downloads {
        flex-direction: row;
    }

    .parallaxImg {
        height: 130vh;
        max-height: 60vw;
    }
}

@media(min-width: 774px) {


    .containerMenu {
        width: 20%;
    }

    .octModel {
        height: 300px;
        width: 600px;
        margin: 0 auto;
        display: block;
        top: 0;
    }

    .testDriveButton {
        width: 200px;
        height: 50px;
        font: normal 800 small-caps 1.8em Bahnschrift, serif;
    }

    .configuratorButton {
        width: 200px;
        height: 50px;
        font: normal 800 small-caps 1.8em Bahnschrift, serif;
    }

    .testDriveButton:hover {
        font: normal 800 small-caps 1.8em Bahnschrift, serif;
    }

    .configuratorButton:hover {
        font: normal 800 small-caps 1.8em Bahnschrift, serif;
    }

    .gridTable {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .complectationImg {
        width: 774px;
    }
    .complectationTable {
        width: 774px;
        grid-template-columns: 1fr 1fr;
    }

    #skoda_name {
        padding-left: 15%;
        padding-right: 10%;
    }

    #headerLogo {
        margin-left: 7%;
    }

    .inGridHeader {
        font-size: 1.3em;
    }

    .inGridText {
        font-size: 1em;
    }

    .headerTextModelBlock {
        font: normal small-caps 4em "Franklin Gothic Medium", serif;
    }

    .aboveGridText {
        font: normal small-caps 4em "Franklin Gothic Medium", serif;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 1199px) {
    .downloads {
        flex-direction: column;
    }

    .bySideText {
        display: none;
    }

    .parallaxImg {
        height: 100vh;
        max-height: 70vw;
    }
}

@media(max-width: 1000px) {
    .parallaxImg {
        height: 80vh;
        max-height: 70vw;
    }
}

@media(max-width: 773px) {

    .containerMenu {
        width: 100%;
    }

    .octModel {
        height: auto;
        width: 80%;
        margin: 0 auto;
        display: block;
        top: 0;
    }

    .testDriveButton {
        width: 170px;
        height: 40px;
        font: normal 800 small-caps 1.4em Bahnschrift, serif;
    }

    .configuratorButton {
        width: 170px;
        height: 40px;
        font: normal 800 small-caps 1.4em Bahnschrift, serif;
    }

    .testDriveButton:hover {
        font: normal 800 small-caps 1.4em Bahnschrift, serif;
    }

    .configuratorButton:hover {
        font: normal 800 small-caps 1.4em Bahnschrift, serif;
    }

    #skoda_name {
        padding-left: 8%;
        padding-right: 5%;
    }

    #headerLogo {
        margin-left: 10%;
    }

    .gridTable {
        grid-template-columns: 1fr 1fr;
    }

    .snaky_animation_line {
        height: 4px;
    }
    .complectationImg {
        width: 100%;
    }
    .complectationTable {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .inGridHeader {
        font-size: 1.1em;
    }

    .inGridText {
        font-size: 0.8em;
    }

    .headerTextModelBlock {
        font: normal small-caps 3.2em "Franklin Gothic Medium", serif;
    }

    .aboveGridText {
        font: normal small-caps 3.2em "Franklin Gothic Medium", serif;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    .parallaxImg {
        height: 80vh;
        max-height: 93vw;
    }
}

@media(max-width: 450px) {

    .testDriveButton {
        width: 130px;
        height: 30px;
        font: normal 800 small-caps 1em Bahnschrift, serif;
    }

    .configuratorButton {
        width: 130px;
        height: 30px;
        font: normal 800 small-caps 1em Bahnschrift, serif;
    }

    .testDriveButton:hover {
        font: normal 800 small-caps 1em Bahnschrift, serif;
    }

    .configuratorButton:hover {
        font: normal 800 small-caps 1em Bahnschrift, serif;
    }
    .gridTable {
        grid-template-columns: 1fr;
    }
    .snaky_animation_line {
        height: 2px;
    }

    .headerTextModelBlock {
        font: normal small-caps 2.5em "Franklin Gothic Medium", serif;
    }

    .aboveGridText {
        font: normal small-caps 2.5em "Franklin Gothic Medium", serif;
    }

    .complectationImg {
        width: 100%;
    }
    .complectationTable {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #skoda_name {
        padding-left: 4%;
        padding-right: 2.5%;
    }

    #headerLogo {
        margin-left: 12%;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .parallaxImg {
        height: 80vh;
        max-height: 125vw;
    }
}

.modelSlideshow {
    position: relative;
}

#textModelBlock1 {
    display: block;
    text-align: center;
}

#textModelBlock2 {
    display: block;
    text-align: center;
}

.headerTextModelBlock {
    display: block;
}

.smallTextModelBlock {
    font: italic small-caps 2em "Franklin Gothic Book", serif;
    display: block;
}

.leftArrow, .rightArrow {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 6;
}

.rightArrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.modelSlide:hover ~ .leftArrow, .modelSlide:hover ~ .rightArrow, .leftArrow:hover, .rightArrow:hover {

    background-color: rgba(0,0,0,0.8);
}

.dotSwitch {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dotSwitch:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.underModelButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    justify-content: center;
    color: white;
}

.testDriveButton {
    position: static;
    display: flex;
    align-items: center;
    background-color: forestgreen;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;

}
.AtestDriveButton {
    text-align: center;
    margin: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.testDriveButton:hover {
    color: forestgreen;
    background-color: white;
    border-color: forestgreen;
    display: flex;
}

.configuratorButton {
    position: static;
    display: flex;
    align-items: center;
    background-color: black;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;
}

.AconfiguratorButton {
    text-align: center;
    margin: 0;
    display: flex;
    color: inherit;
    justify-content: center;
    text-decoration: none;
}

.configuratorButton:hover {
    color: black;
    background-color: white;
    border-color: black;

}

.gridTable {
    width: 100%;
    display: grid;
    grid-gap: 2vw;
    background-color: forestgreen;
    padding: 2%;
    box-sizing: border-box;
}

.whyOctaviaBlock {
    background-color: white;
    color: black;
    border-radius: 5%;
    overflow: hidden;
}

.whyOctaviaBlock:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    transition: 0.12s ease-in-out;
}

.gridImg {
    width: 100%;
}

.aboveGridText {
    width: 100%;
    text-align: center;
    background-color: forestgreen;
    color: white;
}

.headerWhyOctavia {
    width: 100%;
    text-align: center;
    font: normal small-caps 1.3em "Franklin Gothic Medium", serif;
}

.textWhyOctavia {
    font: normal 400 small-caps 1.15em Bahnschrift, serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 3%;
    line-height: 1.3em;
}

.complectation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.complectationSw {
    display: flex;
    width: 100%;
    justify-content: center;
}

.complectationSwitch {
    display: flex;
    box-sizing: border-box;
    width: 130px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    margin: 10px;
    color: white;
    font: normal small-caps 1em "Franklin Gothic Medium", serif;
    border-radius: 30px;
    border-width: 1px;
    cursor: pointer;

}

.complectationSwitch.active {
    background-color: white;
    color: forestgreen;
    border: solid 2px forestgreen;
}

.complectationSwitch:hover {
    background-color: darkgrey;
    color: forestgreen;
    border: solid 2px forestgreen;
}

.complectationImg {
    height: auto;
    display: block;
    margin: auto;
}

.complectationTable {
    display: grid;
    margin: auto;
    border: solid 1px #616161;
    font: normal small-caps 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.inGridHeader {
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-color: #717171;
    border-bottom-style: solid;
    font-weight: 400;
    white-space: nowrap;
}

.inGridText {
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    font-weight: 100;
}

.inGridUL {
    list-style-position: inside;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#headerInGrid1, #headerInGrid2, #headerInGrid3, #textInGrid1, #textInGrid2, #textInGrid3 {
    border-right-width: 2px;
    border-right-color: #717171;
    border-right-style: solid;
}

.stickyButtons {
    position: sticky;
    display: inline-block;
    height: 200px;
    left: 95%;
    bottom: 20%;
    z-index: 7;

}

.stickyButtonsBlock {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
}

.stickyButtonsCover {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 60px;
    right: 5%;
    animation-name: widenOff;
    animation-timing-function: ease;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.stickyButtonsCover:hover {
    animation-name: widen;
    animation-timing-function: ease;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.stickyButtonsEl {
    position: absolute;
    z-index: 7;
    height: 60px;
    width: 100%;
    min-width: 0;
    background-color: green;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    border-style: hidden;
    border-width: 1px;
    border-color: green;
    border-radius: 30px;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font: normal small-caps 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#stickyButtonsEl1 {
    bottom: 140px;
}

#stickyButtonsEl2 {
    bottom: 70px;
}

#stickyButtonsEl3 {
    bottom: 0px;
}

#stickyButtonsImg1 {
    padding: 7px;
    padding-right: 10px;
    min-width: 48px;
    height: auto;
}

#stickyButtonsImg2 {
    padding: 15px;
    min-width: 32px;
    height: auto;
}

#stickyButtonsImg3 {
    padding: 7px;
    min-width: 48px;
    height: auto;
}

@keyframes widen {
    0% {
        width: 60px;
    }
    100% {
        width: 300px;
    }
}

@keyframes widenOff {
    0% {
        width: 300px;
    }
    100% {
        width: 60px;
    }

}

footer {
    display: grid;
    background-color: forestgreen;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerGridElem {
    margin-left: 25%;
    color: white;
}

.footerHeader {
    text-decoration: none;
    display: block;
    width: 100%;
    font: normal 600 small-caps 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footerA span {
    cursor: pointer;
    color: inherit;
}

.footerA {
    text-decoration: none;
    display: block;
    width: 100%;
    font: normal 100 small-caps 0.85em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: inherit;
}

.footerA:hover {
    text-decoration: underline;
}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 150vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.MainContainer::-webkit-scrollbar {
    display: none;
}

.parallaxText {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.parallaxTextDiv {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
}

.pParal {
    margin: 75px 0;
    font: normal  1em "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.2em;
}

.parallaxImg {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background-image: url("https://topgir.com.ua/wp-content/uploads/2020/07/oct1.jpg");
    background-size: 100%;
}

.downloads {
    background-color: forestgreen;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.downloadsElClick {
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    cursor: pointer;
    text-decoration: none;
}

.downloadsElImg {
    height: 65px;
    width: auto;
}

.downloadsText {
    font: normal small-caps 1.5em "Franklin Gothic Medium", serif;
    color: white;
}

.safety {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.safetyHeader {
    font: normal small-caps 1.5em "Franklin Gothic Medium", serif;
    margin-top: 70px;
    margin-bottom: 50px;
}

.safetyImg {
    width: 250px;
    height: auto;
    margin-bottom: 50px;
}

.safetyText {
    font: normal small-caps 1.3em "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: -100px;
}