* {
    margin: 0px;
    padding: 0px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preloaderLogo {
    width: 350px;
    height: auto;
    display: flex;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.07,.79,.93,.22);
    animation-duration: 2.5s;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.15);
    }
}

body {
    overflow: hidden;
}

.loaded{
    overflow: visible;
}

.loaded .preloader {
    transition: 0.5s opacity;
    opacity: 0;
    display: none;
}

.preloaderText {
    margin-top: 5%;
    font: normal small-caps 6.7em "Franklin Gothic Medium", serif;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
//background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}
.menu__box {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}

li {
//width: 100%;
//height: 100%;
    background-color: white;
}

li:hover {
    animation-name: shrink;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    0% {
        background-color: white;
    }
    100% {
        background-color: green;
        transform-origin: left;
    }
}

#header {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 10px black;
}

.hamburger-menu {
    display: flex;
    width: 50px;
    flex: 0 50px;
}

#headerLogo {
    max-height: 50px;
    display: flex;
    flex: 0 50px;
    margin-left: 7%;

}

#skoda_name {
    display: flex;
    font: normal small-caps 40px "Franklin Gothic Medium", serif;
    flex: 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 0.25%;
}

#oct1 {
    margin-top: 70px;
    width: 100%;
}

#div1 {
    height: 1000px;
}

.on_image_model {
    position: absolute;
    color: white;
    margin-top: 56%;
    margin-left: 67%;
}

.imgBlock {
    position: relative;
    display: inline-block;
    z-index: 1;

}

.imgBlock p {
    /*background: rgba(0,0,0,0.7); (полупрозрачность)*/
    font: normal small-caps 6.75vw "Franklin Gothic Medium", serif;
    color: white;
    position: absolute;
    bottom: 8%;
    right: 5%;
    white-space: nowrap;
}

.snaky_animation {
    width: 33%;
    height: 100%;
    bottom: 0px;
    right: 4.4%;
    position: absolute;

}

.snaky_animation_line {
    width: 100%;
    height: 6px;
    background-color: green;
    bottom: 8%;
    position: absolute;
    animation-name: snake;
    animation-duration: 3s;
    /*animation-timing-function: cubic-bezier(.14, 1.12, .67, .99);*/
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    display: block;
    content: "";
}

@keyframes snake {
    0% {
        /*translate(-200%);*/
        background-color: white;
    }
    50% {
        /*translate(-100%);*/
        background-color: green;
    }
    100% {
        /*translate(100%);*/
        background-color: white;
    }
}

.pictureBlock {
    position: relative;
}

.bySideText {
    position: absolute;
    top: 0;
    right: 15%;
    width: 200px;
}

.bySideSpan {
    font: normal small-caps 1.4em "Franklin Gothic Medium", serif;
}
.bySideP {
    font: normal small-caps 1.1em "Franklin Gothic Book", serif;
}

@media(min-width: 774px) {
    .octModel {
        height: 300px;
        width: 600px;
        margin: 0 auto;
        display: block;
        top: 0;
    }
}

@media(max-width: 773px) {
    .octModel {
        height: auto;
        width: 80%;
        margin: 0 auto;
        display: block;
        top: 0;
    }

    .bySideText {
        display: none;
    }
}

.modelSlideshow {
    position: relative;
}

#textModelBlock1 {
    display: block;
    text-align: center;
}

#textModelBlock2 {
    display: block;
    text-align: center;
}

.headerTextModelBlock {
    font: normal small-caps 4em "Franklin Gothic Medium", serif;
    display: block;
}

.smallTextModelBlock {
    font: italic small-caps 2em "Franklin Gothic Book", serif;
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.underModelButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    justify-content: center;
    color: white;
    font: normal 800 small-caps 1.8em Bahnschrift, serif;
}

.testDriveButton {
    position: static;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: forestgreen;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    font: inherit;
    justify-content: center;

}
.AtestDriveButton {
    text-align: center;
    margin: 0;
    vertical-align: middle;
    justify-content: center;
}

.testDriveButton:hover {
    color: forestgreen;
    background-color: white;
    border-color: forestgreen;
    font: inherit;
    display: flex;
}

.configuratorButton {
    position: static;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: black;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    font: inherit;
    justify-content: center;
}

.AconfiguratorButton {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
}

.configuratorButton:hover {
    color: black;
    background-color: white;
    border-color: black;
    font: inherit;

}

.gridTable {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    background-color: forestgreen;
    padding: 2%;
    box-sizing: border-box;
}

.whyOctaviaBlock {
    background-color: white;
    color: black;
    border-radius: 5%;
    overflow: hidden;
}

.whyOctaviaBlock:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    transition: 0.12s ease-in-out;
}

.gridImg {
    width: 100%;
}

.aboveGridText {
    width: 100%;
    text-align: center;
    font: normal small-caps 4em "Franklin Gothic Medium", serif;
    background-color: forestgreen;
    color: white;
}

.headerWhyOctavia {
    width: 100%;
    text-align: center;
    font: normal small-caps 1.3em "Franklin Gothic Medium", serif;
}

.textWhyOctavia {
    font: normal 400 small-caps 1.15em Bahnschrift, serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 3%;

}

/*


.menuPng {
    width: 3%;
    height: 3%;
    min-width: 23px;
    min-height: 23px;
}

.nav-toggle {
    !* абсолютно позиционируем *!
    position: absolute;
    !* относительно левого края панели *!
    left: 320px;
    !* отступ от верхнего края панели *!
    top: 1em;
    !* внутренние отступы *!
    padding: 0.5em;
    !* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    *!
    background: inherit;
    !* цвет текста *!
    color: #dadada;
    !* вид курсора *!
    cursor: pointer;
    !* размер шрифта *!
    font-size: 1.2em;
    line-height: 1;
    !* всегда поверх других элементов страницы *!
    z-index: 2001;
    !* анимируем цвет текста при наведении *!
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

!* цвет текста при наведении *!

.nav-toggle:hover {
    color: #f4f4f4;
}

.navMenu {
    width: 320px;
    min-width: 320px;
    !* фиксируем и выставляем высоту панели на максимум *!
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    !* сдвигаем (прячем) панель относительно левого края страницы *!
    left: -320px;
    !* внутренние отступы *!
    padding: 15px 20px;
    !* плавный переход смещения панели *!
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    !* определяем цвет фона панели *!
    background: #16a085;
    !* поверх других элементов *!
    z-index: 2000;
}

[id='nav-toggle'] {
    position: absolute;
    display: none;
}

[id='nav-toggle']:checked ~ .navMenu {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}

.navMenu > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navMenu > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .navMenu > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

body {
    -webkit-animation: bugfix infinite 1s;
}*/

